* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #ffffff;
  }
  
  header {
    background-color: #e2e2e2;
    color: #000000;
    padding: 1rem;
    text-align: center;
    font-size: 0.7rem
  }
  
  nav a {
    color: #000000;
    margin: 0 1rem;
    text-decoration: none;
  }
  
  #produtos, #carrinho {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
  }
  
  .produto {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    width: calc(33.333% - 2rem);
    display: inline-block;
    vertical-align: top;
  }
  
  .produto img {
    width: 100%;
    height: auto;
  }
  
  .produto h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  button {
    padding: 0.7rem 1rem;
    background-color: #31be67;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2c6e37;
  }

.novidades{justify-content: center;
display: flex;}  
  
.produto-qix{
  width: 15%
}

.produto-asics{
  width: 25%
}

.produto-hocks {
  display: inline-block;
  width: 30%;
  padding: 1rem;
  margin: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.produto-hocks p {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin: 8px 0;
}

.produto-qix {
  display: inline-block;
  width: 30%;
  padding: 1rem;
  margin: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

/* Preço */
.produto-qix p {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin: 8px 0;
}

.produto-asics {
  display: inline-block;
  width: 30%;
  padding: 1rem;
  margin: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

/* Preço */
.produto-asics p {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin: 8px 0;
}

.produto-tesla {
  display: inline-block;
  width: 30%;
  padding: 1rem;
  margin: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

/* Preço */
.produto-tesla p {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin: 8px 0;
}

.produto-skyhand {
  display: inline-block;
  width: 30%;
  padding: 1rem;
  margin: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

/* Preço */
.produto-skyhand p {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin: 8px 0;
}

.produto-puma {
  display: inline-block;
  width: 30%;
  padding: 1rem;
  margin: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

/* Preço */
.produto-puma p {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin: 8px 0;
}

.produto-adidas {
  display: inline-block;
  width: 30%;
  padding: 1rem;
  margin: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

/* Preço */
.produto-adidas p {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin: 8px 0;
}

.produto-shox {
  display: inline-block;
  width: 30%;
  padding: 1rem;
  margin: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

/* Preço */
.produto-shox p {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin: 8px 0;
}

.produto-nb530 {
  display: inline-block;
  width: 30%;
  padding: 1rem;
  margin: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

/* Preço */
.produto-nb530 p {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin: 8px 0;
}

.produto-court {
  display: inline-block;
  width: 30%;
  padding: 1rem;
  margin: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

/* Preço */
.produto-court p {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin: 8px 0;
}

.produto-chorao {
  display: inline-block;
  width: 30%;
  padding: 1rem;
  margin: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

/* Preço */
.produto-chorao p {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin: 8px 0;
}

.produto-vans {
  display: inline-block;
  width: 30%;
  padding: 1rem;
  margin: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

/* Preço */
.produto-vans p {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin: 8px 0;
}
